/* fire of God */
/* air of eternity */
/* water of Divine Unity */
/* earth */
.inTab {
  overflow-y: auto;
}
.inTab #pageCalGreg .calendar {
  max-height: none;
}
#pageCalGreg .calendar {
  margin: 5px auto;
  width: fit-content;
  max-height: 497px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 5px 0 12px 9px;
}
#pageCalGreg .hdHS,
#pageCalGreg .hdHO {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 2px -1px -2px;
}
#pageCalGreg .hdHS {
  background: url(star12d.gif);
}
#pageCalGreg .hdHO {
  background: url(star12b.gif);
}
#pageCalGreg .hdName {
  font-weight: bold;
  font-size: 87%;
  margin: -2px 0 0 3px;
  position: absolute;
  left: 0;
  right: 0;
}
#pageCalGreg .month {
  page-break-inside: avoid;
  display: flex;
  flex-flow: wrap;
  width: calc(7 * (104px + 4px));
}
#pageCalGreg .month .caption {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
#pageCalGreg .month .caption span {
  font-weight: normal;
  padding-left: 20px;
  font-size: 1em;
}
#pageCalGreg .month .placeName {
  font-size: 0.8em;
  padding-bottom: 3px;
  width: 100%;
  text-align: center;
}
#pageCalGreg .month .colName {
  text-align: center;
  width: 104px;
  margin: 0 1px 1px 0;
  border: solid 1px #ccc;
}
#pageCalGreg .month .colName .weekDay {
  font-weight: bold;
}
#pageCalGreg .month .gd,
#pageCalGreg .month .outside {
  width: 106px;
  margin: 0 1px 1px 0;
  cursor: pointer;
}
#pageCalGreg .month .gd .dayCell > div {
  position: relative;
}
#pageCalGreg .month .gd .dayCell .morn {
  color: #fff;
  padding: 0 0 0 3px;
  background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0) 60%, #ffffff 100%);
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#pageCalGreg .month .gd .dayCell .morn .gDay {
  position: absolute;
  font-size: 0.7em;
  top: 0;
  left: calc(50% - 7px);
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-width: 14px;
  padding: 0 4px 2px 3px;
  text-align: center;
  color: #666;
}
#pageCalGreg .month .gd .dayCell .morn .bDay {
  position: absolute;
  top: 0;
  left: 1px;
  font-size: 0.8em;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 2px;
  padding: 0 4px 2px 3px;
  color: black;
  width: 14px;
  text-align: center;
}
#pageCalGreg .month .gd .dayCell .aft {
  background-color: white;
  z-index: 1;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#pageCalGreg .month .gd .dayCell .aft .sunrise {
  position: absolute;
  right: 1px;
  top: 0;
  font-size: 0.5em;
}
#pageCalGreg .month .gd .dayCell .aft > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#pageCalGreg .month .gd .dayCell .aft .sunset {
  position: absolute;
  bottom: 0;
  right: 1px;
  font-size: 0.5em;
}
#pageCalGreg .month .gd .dayCell .eve {
  background-image: linear-gradient(to top, rgba(200, 200, 200, 0) 60%, #ffffff 100%);
  border: 1px solid #ccc;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: none;
}
#pageCalGreg .month .gd .dayCell .eve .monthName {
  position: absolute;
  bottom: 1px;
  color: #fff;
  left: 2px;
  font-size: 9pt;
  white-space: nowrap;
  overflow: hidden;
  max-width: 85%;
}
#pageCalGreg .month .gd .dayCell .eve .monthName span {
  font-size: 0.75em;
  display: inline-block;
  margin-left: 1px;
  font-weight: normal;
}
#pageCalGreg .month .gd .dayCell .eve .monthName span:before {
  content: '\02026';
}
#pageCalGreg .month .gd .dayCell .eve .monthName.first {
  font-weight: bold;
}
#pageCalGreg .month .gd .dayCell .eve .monthName.continuing::before {
  content: '(';
}
#pageCalGreg .month .gd .dayCell .eve .monthName.continuing::after {
  content: ')';
}
#pageCalGreg .month .gd .dayCell .eve .sunset {
  position: absolute;
  right: 1px;
  top: 0;
  font-size: 7pt;
  color: #fff;
}
#pageCalGreg .month .gd .dayCell .eve .bDay {
  position: absolute;
  color: #fff;
  font-size: 8pt;
  bottom: 0;
  right: 2px;
  z-index: 1;
}
#pageCalGreg .month .gd.hdDayHS .morn {
  border-color: red;
  border-left-width: 3px;
  border-top-left-radius: 6px;
  border-top-right-radius: 2px;
  margin: 0 0 0 -2px;
  background-image: linear-gradient(to bottom, red 60%, #ffffff 100%) !important;
}
#pageCalGreg .month .gd.hdDayHS .aft {
  background-color: #ffcccc !important;
  margin: 0 0 0 -2px;
  border-left: 3px solid red;
  border-right-color: red;
}
#pageCalGreg .month .gd.hdEveHS .eve {
  border-right-color: red;
  border-bottom-color: red;
  border-left: none;
  border-right-width: 3px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  margin: 0 -2px 0 0;
  background-image: linear-gradient(to top, red 60%, #ffffff 100%) !important;
}
#pageCalGreg .month .outside {
  background-color: #fff;
  color: #ddd;
  border-color: #eee;
  position: relative;
}
#pageCalGreg .month .outside .gDay {
  position: absolute;
  top: 0;
  left: calc(50% - 7px);
  min-width: 14px;
  padding: 0 4px 2px 3px;
  text-align: center;
  font-size: 8pt;
}
#pageCalGreg .bMonth0,
#pageCalGreg .bMonth {
  background-color: #fcfcfc;
}
#pageCalGreg .bMonth0 span,
#pageCalGreg .bMonth span {
  color: #4B0A66 !important;
}
#pageCalGreg .bMonth1,
#pageCalGreg .bMonth3 {
  background-color: rgba(255, 0, 0, 0.6);
}
#pageCalGreg .bMonth1 .gDay,
#pageCalGreg .bMonth3 .gDay {
  color: #333 !important;
}
#pageCalGreg .bMonth2 {
  background-color: rgba(255, 0, 0, 0.3);
}
#pageCalGreg .bMonth2 .bDay,
#pageCalGreg .bMonth2 .monthName {
  color: #111 !important;
}
#pageCalGreg .bMonth2 .gDay {
  color: #666 !important;
}
#pageCalGreg .bMonth4,
#pageCalGreg .bMonth6 {
  background-color: rgba(100, 100, 100, 0.4);
}
#pageCalGreg .bMonth4 .bDay,
#pageCalGreg .bMonth6 .bDay,
#pageCalGreg .bMonth4 .monthName,
#pageCalGreg .bMonth6 .monthName {
  color: #000 !important;
}
#pageCalGreg .bMonth4 .gDay,
#pageCalGreg .bMonth6 .gDay {
  color: #888 !important;
}
#pageCalGreg .bMonth5,
#pageCalGreg .bMonth7 {
  background-color: rgba(100, 100, 100, 0.1);
}
#pageCalGreg .bMonth5 .bDay,
#pageCalGreg .bMonth7 .bDay,
#pageCalGreg .bMonth5 .monthName,
#pageCalGreg .bMonth7 .monthName {
  color: #000 !important;
}
#pageCalGreg .bMonth5 .gDay,
#pageCalGreg .bMonth7 .gDay {
  color: #777 !important;
}
#pageCalGreg .bMonth8,
#pageCalGreg .bMonth10,
#pageCalGreg .bMonth12 {
  background-color: rgba(0, 0, 255, 0.6);
}
#pageCalGreg .bMonth8 .gDay,
#pageCalGreg .bMonth10 .gDay,
#pageCalGreg .bMonth12 .gDay {
  color: #333 !important;
}
#pageCalGreg .bMonth9,
#pageCalGreg .bMonth11,
#pageCalGreg .bMonth13 {
  background-color: rgba(0, 0, 255, 0.45);
}
#pageCalGreg .bMonth14,
#pageCalGreg .bMonth16,
#pageCalGreg .bMonth18 {
  background-color: #009600;
}
#pageCalGreg .bMonth14 .gDay,
#pageCalGreg .bMonth16 .gDay,
#pageCalGreg .bMonth18 .gDay {
  color: #ddd !important;
}
#pageCalGreg .bMonth15,
#pageCalGreg .bMonth17,
#pageCalGreg .bMonth19 {
  background-color: rgba(0, 150, 0, 0.7);
}
#pageCalGreg .bMonth15 .gDay,
#pageCalGreg .bMonth17 .gDay,
#pageCalGreg .bMonth19 .gDay {
  color: #333 !important;
}
@media screen {
  #pageCalGreg .gd.selected .morn .gDay {
    font-weight: bold;
  }
  #pageCalGreg .month .gd .today.morn {
    border-color: #826bbf;
    border-left-width: 3px;
    border-top-left-radius: 6px;
    border-top-right-radius: 2px;
    margin: 0 0 0 -2px;
    background-image: linear-gradient(to bottom, #826bbf 60%, #ffffff 100%) !important;
  }
  #pageCalGreg .month .gd .today.aft {
    background-color: #faf9fc !important;
    margin: 0 0 0 -2px;
    border-left: 3px solid #826bbf;
    border-right-color: #826bbf;
  }
  #pageCalGreg .month .gd .today.eve {
    border-right-color: #826bbf;
    border-bottom-color: #826bbf;
    border-left: none;
    border-right-width: 3px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    margin: 0 -2px 0 0;
    background-image: linear-gradient(to top, #826bbf 60%, #ffffff 100%) !important;
  }
  #pageCalGreg .month .gd .selected span {
    color: #fff !important;
  }
  #pageCalGreg .month .gd .selected span.gDay {
    color: #ccc !important;
  }
  #pageCalGreg .month .gd .selected.morn {
    border-color: #5b439a;
    border-left-width: 3px;
    border-top-left-radius: 6px;
    border-top-right-radius: 2px;
    margin: 0 0 0 -2px;
    background-image: linear-gradient(to bottom, #5b439a 60%, #ffffff 100%) !important;
  }
  #pageCalGreg .month .gd .selected.morn .bDay {
    font-weight: bold;
  }
  #pageCalGreg .month .gd .selected.aft {
    background-color: #cdc4e5 !important;
    margin: 0 0 0 -2px;
    border-left: 3px solid #5b439a;
    border-right-color: #5b439a;
  }
  #pageCalGreg .month .gd .selected.aft span {
    color: #000 !important;
  }
  #pageCalGreg .month .gd .selected.eve {
    border-right-color: #5b439a;
    border-bottom-color: #5b439a;
    border-left: none;
    border-right-width: 3px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    margin: 0 -2px 0 0;
    background-image: linear-gradient(to top, #5b439a 60%, #ffffff 100%) !important;
  }
  #pageCalGreg .month .gd .selected.eve .bDay {
    font-weight: bold;
  }
  #pageCalGreg .eve {
    margin-top: 0;
  }
}
@media print {
  @page {
    margin: 15mm 15mm;
  }
  #pageCalGreg {
    border: none;
  }
  #pageCalGreg .calendar {
    max-height: none;
  }
  #pageCalGreg .month {
    margin: 50px auto 0 auto;
    page-break-after: always;
    page-break-inside: avoid;
    display: flex !important;
  }
  body[data-pageid="pageCalGreg"] .mainTop {
    display: none;
  }
}
